<a name="profile"></a>
<div class="title text-center" id="profile">
  <%= image_tag("ring_1.jpg", :class => "img-responsive img-center", :width =>"36") %><h1> 關於我們 OUR STORY</h1>
</div>

<section class="content-section">
	<div class="container">
		<div class="row">
			
			
			<div class="col-sm-4 cell"> 
				  <%= image_tag("him.jpg", :alt => "rss feed", :class => "img-responsive img-center") %>
				  
					<hr>
				  	<span style="font-size:1.6em;">HIM<br></span>
				 	<div class="lead" style="font-size:1.1em;">
						 I remember seeing Joanne at friend’s party and think that she is very attractive and I didn’t have the chance to talk to her at all. She was surrounded by other guys. 
A year has passed, I finally have chance to hang out with her. She is so adorable, kind hearted, thoughtful, goofy, fun, charming, easy going and really really hot. We have been dating officially for 45 months. It has been an amazing and I’m looking forward to starting a new life together. Joanne means so much to me and I can’t believe she is actually going to marry me. 

				  </div>
			</div>

			<div class="col-sm-4 cell" > 
				<div class="symbol">
					<i class="fa fa-heart fa-5x heart"></i>
					<%#= image_tag("heart.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				</div>

			
			</div>

			<div class="col-sm-4 cell"> 
				
				  
				  <%= image_tag("her.jpg", :alt => "rss feed", :class => "img-responsive img-center") %>
				  <hr>
				  
				  <span style="font-size:1.6em;">HER<br></span>

				  <div class="lead" style="font-size:1.1em;">

					Destiny full of surprises, you never know who you will encounter along the way. Who knows? Maybe fairy tales come true after all ☺
				  </div>
				  
			</div>


		</div>
	</div>
</section>


<script>
	$(document).ready(function () {

	    //$(".player").mb_YTPlayer();

	    var heights = $(".cell").map(function() {
	        return $(this).height();
	    }).get(),

	    maxHeight = Math.max.apply(null, heights);

	    $(".cell").height(maxHeight);
	    $('.symbol').css('line-height',maxHeight+"px");

	    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	    initialize();
	    //alert("d");
	});

	});
</script>